/* debugger.rc: the Win32 debugger
   Copyright (c) 2004 Marek Januszewski

   $Id$

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License along
   with this program; if not, write to the Free Software Foundation, Inc.,
   51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

   Author contact information:

   E-mail: philip-fuse@shadowmagic.org.uk

*/

#include <windows.h>

#include "debugger.h"
		
IDD_DBG DIALOGEX DISCARDABLE 6,5,522,249
CAPTION "Fuse - Debugger"
FONT 8,"MS Sans Serif"
MENU IDM_MENU
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
BEGIN
  CONTROL	"", IDC_DBG_LV_PC, "SysListView32", \
                WS_CHILD | WS_VISIBLE | LVS_REPORT | \
                LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSCROLL, \
                260, 3, 88, 190, WS_EX_CLIENTEDGE
  SCROLLBAR     IDC_DBG_SB_PC, 347, 3, 12, 190, WS_CHILD | SBS_VERT
  CONTROL	"", IDC_DBG_LV_STACK, "SysListView32",
                WS_CHILD | WS_VISIBLE | LVS_REPORT | \
                LVS_SINGLESEL | LVS_SHOWSELALWAYS, \
                366, 3, 66, 190, WS_EX_CLIENTEDGE
  CONTROL	"", IDC_DBG_LV_EVENTS, "SysListView32", \
                WS_CHILD | WS_VISIBLE | LVS_REPORT | \
                LVS_SINGLESEL | LVS_SHOWSELALWAYS, \
                438, 3, 78, 190, WS_EX_CLIENTEDGE
  CONTROL	"", IDC_DBG_LV_BPS, "SysListView32",
                WS_CHILD | WS_VISIBLE | LVS_REPORT | \
                LVS_SINGLESEL | LVS_SHOWSELALWAYS, \
                4, 151, 250, 43, WS_EX_CLIENTEDGE
  EDITTEXT	IDC_DBG_ED_EVAL, 4, 199, 470, 13, \
                WS_CHILD | WS_VISIBLE, WS_EX_CLIENTEDGE

  DEFPUSHBUTTON	"&Evaluate", IDC_DBG_BTN_EVAL, 480, 199, 36, 13
  PUSHBUTTON	"&Single Step", IDC_DBG_BTN_STEP, 274, 217, 56, 13
  PUSHBUTTON	"&Continue", IDC_DBG_BTN_CONT, 336, 217, 56, 13
  PUSHBUTTON	"&Break", IDC_DBG_BTN_BREAK, 398, 217, 56, 13
  PUSHBUTTON	"&Close", IDC_DBG_BTN_CLOSE, 460, 217, 56, 13

  GROUPBOX	"Memory Map", IDC_DBG_GRP_MEMMAP, 114, 3, 142, 142

  RTEXT		"0x0038", IDC_DBG_REG_PC, 30, 5, 24, 9
  RTEXT		"0x0038", IDC_DBG_REG_SP, 86, 5, 24, 9
  RTEXT		"0x0038", IDC_DBG_REG_AF_, 86, 18, 24, 9
  RTEXT		"0x0038", IDC_DBG_REG_BC_, 86, 31, 24, 9
  RTEXT		"SP", IDC_DBG_TEXT_SP, 58, 5, 24, 9
  RTEXT		"PC", IDC_DBG_TEXT_PC, 2, 5, 24, 9
  RTEXT		"AF'", IDC_DBG_TEXT_AF1, 58, 18, 24, 9
  RTEXT		"0x0038", IDC_DBG_REG_DE_, 86, 44, 24, 9
  RTEXT		"0x0038", IDC_DBG_REG_HL_, 86, 57, 24, 9
  RTEXT		"0x0038", IDC_DBG_REG_AF, 30, 18, 24, 9
  RTEXT		"0x0038", IDC_DBG_REG_BC, 30, 31, 24, 9
  RTEXT		"0x0038", IDC_DBG_REG_DE, 30, 44, 24, 9
  RTEXT		"0x0038", IDC_DBG_REG_HL, 30, 57, 24, 9
  RTEXT		"0x0038", IDC_DBG_REG_IX, 30, 70, 24, 9
  RTEXT		"0x38", IDC_DBG_REG_I, 30, 83, 24, 9
  RTEXT		"AF", IDC_DBG_TEXT_AF, 2, 18, 24, 9
  RTEXT		"BC", IDC_DBG_TEXT_BC, 2, 31, 24, 9
  RTEXT		"DE", IDC_DBG_TEXT_DE, 2, 44, 24, 9
  RTEXT		"HL", IDC_DBG_TEXT_HL, 2, 57, 24, 9
  RTEXT		"IX", IDC_DBG_TEXT_IX, 2, 70, 24, 9
  RTEXT		"I", IDC_DBG_TEXT_I, 2, 83, 24, 9
  RTEXT		"R", IDC_DBG_TEXT_R, 58, 83, 24, 9
  RTEXT		"0x38", IDC_DBG_REG_R, 86, 83, 24, 9
  RTEXT		"IY", IDC_DBG_TEXT_IY, 58, 70, 24, 9
  RTEXT		"0x0038", IDC_DBG_REG_IY, 86, 70, 24, 9
  RTEXT		"HL'", IDC_DBG_TEXT_HL1, 58, 57, 24, 9
  RTEXT		"DE'", IDC_DBG_TEXT_DE1, 58, 44, 24, 9
  RTEXT		"BC", IDC_DBG_TEXT_BC1, 58, 31, 24, 9
  LTEXT		"C?", IDC_DBG_TEXT_CONTENDED, 220, 14, 38, 9
  CTEXT		"N", IDC_DBG_MAP14, 226, 27, 24, 9
  CTEXT		"N", IDC_DBG_MAP24, 226, 40, 24, 9
  CTEXT		"N", IDC_DBG_MAP34, 226, 53, 24, 9
  CTEXT		"N", IDC_DBG_MAP44, 226, 66, 24, 9
  CTEXT		"Y", IDC_DBG_MAP54, 226, 79, 24, 9
  CTEXT		"Y", IDC_DBG_MAP64, 226, 92, 24, 9
  CTEXT		"Y", IDC_DBG_MAP63, 192, 92, 24, 9
  CTEXT		"Y", IDC_DBG_MAP53, 192, 79, 24, 9
  CTEXT		"Y", IDC_DBG_MAP43, 192, 66, 24, 9
  CTEXT		"Y", IDC_DBG_MAP33, 192, 53, 24, 9
  CTEXT		"Y", IDC_DBG_MAP23, 192, 40, 24, 9
  CTEXT		"Y", IDC_DBG_MAP13, 192, 27, 24, 9
  LTEXT		"W?", IDC_DBG_TEXT_WRITABLE, 188, 14, 30, 9
  CTEXT		"Source", IDC_DBG_TEXT_SOURCE, 152, 14, 30, 9
  CTEXT		"RAM 0", IDC_DBG_MAP12, 156, 27, 24, 9
  CTEXT		"RAM 0", IDC_DBG_MAP22, 156, 40, 24, 9
  CTEXT		"RAM 2", IDC_DBG_MAP32, 156, 53, 24, 9
  CTEXT		"RAM 2", IDC_DBG_MAP42, 156, 66, 24, 9
  CTEXT		"RAM 5", IDC_DBG_MAP52, 156, 79, 24, 9
  CTEXT		"RAM 5", IDC_DBG_MAP62, 156, 92, 24, 9
  CTEXT		"0x0038", IDC_DBG_MAP61, 120, 92, 24, 9
  CTEXT		"0x0038", IDC_DBG_MAP51, 120, 79, 24, 9
  CTEXT		"0x0038", IDC_DBG_MAP41, 120, 66, 24, 9
  CTEXT		"0x0038", IDC_DBG_MAP31, 120, 53, 24, 9
  CTEXT		"0x0038", IDC_DBG_MAP21, 120, 40, 24, 9
  CTEXT		"0x0038", IDC_DBG_MAP11, 120, 27, 24, 9
  CTEXT		"Address", IDC_DBG_TEXT_ADDRESS, 118, 14, 28, 9
  LTEXT		"0", IDC_DBG_REG_IFF2, 98, 121, 8, 9
  LTEXT		"0", IDC_DBG_REG_IFF1, 98, 108, 8, 9
  LTEXT		"1", IDC_DBG_REG_IM, 98, 96, 8, 9
  RTEXT		"IM", IDC_DBG_TEXT_IM, 70, 96, 24, 9
  RTEXT		"IFF1", IDC_DBG_TEXT_IFF1, 70, 108, 24, 9
  RTEXT		"IFF2", IDC_DBG_TEXT_IFF2, 70, 121, 24, 9
  RTEXT		"0x07", IDC_DBG_REG_ULA, 96, 134, 14, 9
  RTEXT		"ULA", IDC_DBG_TEXT_ULA, 70, 134, 22, 9
  RTEXT		"20", IDC_DBG_REG_T_STATES, 38, 96, 24, 9
  RTEXT		"T-states", IDC_DBG_TEXT_T_STATES, 6, 96, 24, 9
  CTEXT		"SZ5H3PNC", IDC_DBG_REG_SZ5H3PNC, 12, 108, 48, 9
  CTEXT		"--------", IDC_DBG_OTHER1, 12, 121, 48, 9
  CTEXT		"~~~~~~~~", IDC_DBG_OTHER2, 12, 134, 48, 9
  CTEXT		"N", IDC_DBG_MAP74, 226, 105, 24, 9
  CTEXT		"N", IDC_DBG_MAP73, 192, 105, 24, 9
  CTEXT		"RAM 0", IDC_DBG_MAP72, 156, 105, 24, 9
  CTEXT		"0x0038", IDC_DBG_MAP71, 120, 105, 24, 9
  CTEXT		"N", IDC_DBG_MAP84, 226, 118, 24, 9
  CTEXT		"N", IDC_DBG_MAP83, 192, 118, 24, 9
  CTEXT		"RAM 0", IDC_DBG_MAP82, 156, 118, 24, 9
  CTEXT		"0x0000", IDC_DBG_MAP81, 120, 118, 24, 9
END

IDM_MENU MENU
{
  POPUP "&View"
  {
    MENUITEM "&Registers", IDM_DBG_REG
    MENUITEM "&Memory Map", IDM_DBG_MEMMAP
    MENUITEM "&Breakpoints", IDM_DBG_BPS
    MENUITEM "&Disassembly", IDM_DBG_DIS
    MENUITEM "&Stack", IDM_DBG_STACK
    MENUITEM "&Events", IDM_DBG_EVENTS
  }
}
