/* menu_data.rc: menu structure for Fuse
   Copyright (c) 2004-2007 Philip Kendall, Stuart Brady, Marek Januszewski

   $Id$

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License along
   with this program; if not, write to the Free Software Foundation, Inc.,
   51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

   Author contact information:

   E-mail: philip-fuse@shadowmagic.org.uk

*/

#include <config.h>

#include <windows.h>

#include "menu_data.h"

win32_menu MENU
{
  POPUP "&File"
  {
    MENUITEM "&Open...\tF3", IDM_MENU_FILE_OPEN
    MENUITEM "&Save Snapshot...\tF2", IDM_MENU_FILE_SAVESNAPSHOT
    POPUP "&Recording"
    {
      MENUITEM "&Record...", IDM_MENU_FILE_RECORDING_RECORD
      MENUITEM "Record &from snapshot...", IDM_MENU_FILE_RECORDING_RECORDFROMSNAPSHOT
      MENUITEM "&Insert snapshot\tInsert", IDM_MENU_FILE_RECORDING_INSERTSNAPSHOT
      MENUITEM "Roll&back\tDelete", IDM_MENU_FILE_RECORDING_ROLLBACK
      MENUITEM "Rollback &to...", IDM_MENU_FILE_RECORDING_ROLLBACKTO
      MENUITEM "&Play...", IDM_MENU_FILE_RECORDING_PLAY
      MENUITEM "&Stop", IDM_MENU_FILE_RECORDING_STOP
    }
    POPUP "A&Y Logging"
    {
      MENUITEM "&Record...", IDM_MENU_FILE_AYLOGGING_RECORD
      MENUITEM "&Stop", IDM_MENU_FILE_AYLOGGING_STOP
    }
    MENUITEM SEPARATOR
    MENUITEM "O&pen SCR Screenshot...", IDM_MENU_FILE_OPENSCRSCREENSHOT
    MENUITEM "S&ave Screen as SCR...", IDM_MENU_FILE_SAVESCREENASSCR
#ifdef USE_LIBPNG
    MENUITEM "Save S&creen as PNG...", IDM_MENU_FILE_SAVESCREENASPNG
#endif
    POPUP "&Movies"
    {
      MENUITEM "Record Movie as &SCR...", IDM_MENU_FILE_MOVIES_RECORDMOVIEASSCR
#ifdef USE_LIBPNG
      MENUITEM "Record Movie as &PNG...", IDM_MENU_FILE_MOVIES_RECORDMOVIEASPNG
#endif
      MENUITEM "S&top Movie Recording", IDM_MENU_FILE_MOVIES_STOPMOVIERECORDING
    }
    MENUITEM SEPARATOR
    MENUITEM "Loa&d binary data...", IDM_MENU_FILE_LOADBINARYDATA
    MENUITEM "Save &binary data...", IDM_MENU_FILE_SAVEBINARYDATA
    MENUITEM SEPARATOR
    MENUITEM "E&xit...\tF10", IDM_MENU_FILE_EXIT
  }
  POPUP "&Options"
  {
    MENUITEM "&General...\tF4", IDM_MENU_OPTIONS_GENERAL
    MENUITEM "&Sound...", IDM_MENU_OPTIONS_SOUND
    MENUITEM "&Peripherals...", IDM_MENU_OPTIONS_PERIPHERALS
    MENUITEM "&RZX...", IDM_MENU_OPTIONS_RZX
    POPUP "&Joysticks"
    {
      MENUITEM "Joystick &1...", IDM_MENU_OPTIONS_JOYSTICKS_JOYSTICK1
      MENUITEM "Joystick &2...", IDM_MENU_OPTIONS_JOYSTICKS_JOYSTICK2
      MENUITEM "&Keyboard...", IDM_MENU_OPTIONS_JOYSTICKS_KEYBOARD
    }
    POPUP "S&elect ROMs"
    {
      MENUITEM "Spectrum 1&6K...", IDM_MENU_OPTIONS_SELECTROMS_SPECTRUM16K
      MENUITEM "Spectrum &48K...", IDM_MENU_OPTIONS_SELECTROMS_SPECTRUM48K
      MENUITEM "Spectrum &128K...", IDM_MENU_OPTIONS_SELECTROMS_SPECTRUM128K
      MENUITEM "Spectrum +&2...", IDM_MENU_OPTIONS_SELECTROMS_SPECTRUM2
      MENUITEM "Spectrum +2&A...", IDM_MENU_OPTIONS_SELECTROMS_SPECTRUM2A
      MENUITEM "Spectrum +&3...", IDM_MENU_OPTIONS_SELECTROMS_SPECTRUM3
      MENUITEM "Spectrum +3&e...", IDM_MENU_OPTIONS_SELECTROMS_SPECTRUM3E
      MENUITEM "Timex &TC2048...", IDM_MENU_OPTIONS_SELECTROMS_TIMEXTC2048
      MENUITEM "Timex TC206&8...", IDM_MENU_OPTIONS_SELECTROMS_TIMEXTC2068
      MENUITEM "Timex TS2&068...", IDM_MENU_OPTIONS_SELECTROMS_TIMEXTS2068
      MENUITEM "&Pentagon 128K...", IDM_MENU_OPTIONS_SELECTROMS_PENTAGON128K
      MENUITEM "S&corpion ZS 256...", IDM_MENU_OPTIONS_SELECTROMS_SCORPIONZS256
      MENUITEM "Spectrum &SE...", IDM_MENU_OPTIONS_SELECTROMS_SPECTRUMSE
      MENUITEM "Interface &I...", IDM_MENU_OPTIONS_SELECTROMS_INTERFACEI
    }
    MENUITEM "&Filter...", IDM_MENU_OPTIONS_FILTER
#ifdef HAVE_LIB_XML2
    MENUITEM SEPARATOR
    MENUITEM "S&ave", IDM_MENU_OPTIONS_SAVE
#endif
  }
  POPUP "&Machine"
  {
    MENUITEM "&Pause...\tPause", IDM_MENU_MACHINE_PAUSE
    MENUITEM "&Reset...\tF5", IDM_MENU_MACHINE_RESET
    MENUITEM "&Hard reset...", IDM_MENU_MACHINE_HARDRESET
    MENUITEM "&Select...\tF9", IDM_MENU_MACHINE_SELECT
    MENUITEM "&Debugger...", IDM_MENU_MACHINE_DEBUGGER
    MENUITEM "P&oke Finder...", IDM_MENU_MACHINE_POKEFINDER
    MENUITEM "&Memory Browser...", IDM_MENU_MACHINE_MEMORYBROWSER
    POPUP "Pro&filer"
    {
      MENUITEM "&Start", IDM_MENU_MACHINE_PROFILER_START
      MENUITEM "&Stop", IDM_MENU_MACHINE_PROFILER_STOP
    }
    MENUITEM "&NMI", IDM_MENU_MACHINE_NMI
  }
  POPUP "M&edia"
  {
    POPUP "&Tape"
    {
      MENUITEM "&Open...\tF7", IDM_MENU_MEDIA_TAPE_OPEN
      MENUITEM "&Play\tF8", IDM_MENU_MEDIA_TAPE_PLAY
      MENUITEM "&Browse...", IDM_MENU_MEDIA_TAPE_BROWSE
      MENUITEM "&Rewind", IDM_MENU_MEDIA_TAPE_REWIND
      MENUITEM "&Clear", IDM_MENU_MEDIA_TAPE_CLEAR
      MENUITEM "&Write...\tF6", IDM_MENU_MEDIA_TAPE_WRITE
      MENUITEM "R&ecord Start", IDM_MENU_MEDIA_TAPE_RECORDSTART
      MENUITEM "Recor&d Stop", IDM_MENU_MEDIA_TAPE_RECORDSTOP
    }
    POPUP "&Interface I"
    {
      POPUP "Microdrive &1"
      {
        MENUITEM "Insert &New", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE1_INSERTNEW
        MENUITEM "&Insert...", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE1_INSERT
        MENUITEM "&Sync", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE1_SYNC
        MENUITEM "&Eject", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE1_EJECT
        POPUP "&Write protect"
        {
          MENUITEM "&Set", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE1_WRITEPROTECT_SET
          MENUITEM "&Remove", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE1_WRITEPROTECT_REMOVE
        }
      }
      POPUP "Microdrive &2"
      {
        MENUITEM "Insert &New", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE2_INSERTNEW
        MENUITEM "&Insert...", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE2_INSERT
        MENUITEM "&Sync", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE2_SYNC
        MENUITEM "&Eject", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE2_EJECT
        POPUP "&Write protect"
        {
          MENUITEM "&Set", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE2_WRITEPROTECT_SET
          MENUITEM "&Remove", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE2_WRITEPROTECT_REMOVE
        }
      }
      POPUP "Microdrive &3"
      {
        MENUITEM "Insert &New", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE3_INSERTNEW
        MENUITEM "&Insert...", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE3_INSERT
        MENUITEM "&Sync", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE3_SYNC
        MENUITEM "&Eject", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE3_EJECT
        POPUP "&Write protect"
        {
          MENUITEM "&Set", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE3_WRITEPROTECT_SET
          MENUITEM "&Remove", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE3_WRITEPROTECT_REMOVE
        }
      }
      POPUP "Microdrive &4"
      {
        MENUITEM "Insert &New", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE4_INSERTNEW
        MENUITEM "&Insert...", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE4_INSERT
        MENUITEM "&Sync", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE4_SYNC
        MENUITEM "&Eject", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE4_EJECT
        POPUP "&Write protect"
        {
          MENUITEM "&Set", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE4_WRITEPROTECT_SET
          MENUITEM "&Remove", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE4_WRITEPROTECT_REMOVE
        }
      }
      POPUP "Microdrive &5"
      {
        MENUITEM "Insert &New", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE5_INSERTNEW
        MENUITEM "&Insert...", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE5_INSERT
        MENUITEM "&Sync", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE5_SYNC
        MENUITEM "&Eject", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE5_EJECT
        POPUP "&Write protect"
        {
          MENUITEM "&Set", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE5_WRITEPROTECT_SET
          MENUITEM "&Remove", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE5_WRITEPROTECT_REMOVE
        }
      }
      POPUP "Microdrive &6"
      {
        MENUITEM "Insert &New", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE6_INSERTNEW
        MENUITEM "&Insert...", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE6_INSERT
        MENUITEM "&Sync", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE6_SYNC
        MENUITEM "&Eject", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE6_EJECT
        POPUP "&Write protect"
        {
          MENUITEM "&Set", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE6_WRITEPROTECT_SET
          MENUITEM "&Remove", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE6_WRITEPROTECT_REMOVE
        }
      }
      POPUP "Microdrive &7"
      {
        MENUITEM "Insert &New", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE7_INSERTNEW
        MENUITEM "&Insert...", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE7_INSERT
        MENUITEM "&Sync", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE7_SYNC
        MENUITEM "&Eject", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE7_EJECT
        POPUP "&Write protect"
        {
          MENUITEM "&Set", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE7_WRITEPROTECT_SET
          MENUITEM "&Remove", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE7_WRITEPROTECT_REMOVE
        }
      }
      POPUP "Microdrive &8"
      {
        MENUITEM "Insert &New", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE8_INSERTNEW
        MENUITEM "&Insert...", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE8_INSERT
        MENUITEM "&Sync", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE8_SYNC
        MENUITEM "&Eject", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE8_EJECT
        POPUP "&Write protect"
        {
          MENUITEM "&Set", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE8_WRITEPROTECT_SET
          MENUITEM "&Remove", IDM_MENU_MEDIA_INTERFACEI_MICRODRIVE8_WRITEPROTECT_REMOVE
        }
      }
    }
    POPUP "&Disk"
    {
      POPUP "+&3"
      {
        POPUP "Drive &A:"
        {
          MENUITEM "&Insert...", IDM_MENU_MEDIA_DISK_3_DRIVEA_INSERT
          MENUITEM "&Eject", IDM_MENU_MEDIA_DISK_3_DRIVEA_EJECT
          MENUITEM "Eject and &write...", IDM_MENU_MEDIA_DISK_3_DRIVEA_EJECTANDWRITE
        }
        POPUP "Drive &B:"
        {
          MENUITEM "&Insert...", IDM_MENU_MEDIA_DISK_3_DRIVEB_INSERT
          MENUITEM "&Eject", IDM_MENU_MEDIA_DISK_3_DRIVEB_EJECT
          MENUITEM "Eject and &write...", IDM_MENU_MEDIA_DISK_3_DRIVEB_EJECTANDWRITE
        }
      }
      POPUP "&TR-DOS"
      {
        POPUP "Drive &A:"
        {
          MENUITEM "&Insert...", IDM_MENU_MEDIA_DISK_TRDOS_DRIVEA_INSERT
          MENUITEM "&Eject", IDM_MENU_MEDIA_DISK_TRDOS_DRIVEA_EJECT
          MENUITEM "Eject and &write...", IDM_MENU_MEDIA_DISK_TRDOS_DRIVEA_EJECTANDWRITE
        }
        POPUP "Drive &B:"
        {
          MENUITEM "&Insert...", IDM_MENU_MEDIA_DISK_TRDOS_DRIVEB_INSERT
          MENUITEM "&Eject", IDM_MENU_MEDIA_DISK_TRDOS_DRIVEB_EJECT
          MENUITEM "Eject and &write...", IDM_MENU_MEDIA_DISK_TRDOS_DRIVEB_EJECTANDWRITE
        }
      }
      POPUP "+&D"
      {
        POPUP "Drive &1"
        {
          MENUITEM "&Insert...", IDM_MENU_MEDIA_DISK_D_DRIVE1_INSERT
          MENUITEM "&Eject", IDM_MENU_MEDIA_DISK_D_DRIVE1_EJECT
          MENUITEM "Eject and &write...", IDM_MENU_MEDIA_DISK_D_DRIVE1_EJECTANDWRITE
        }
        POPUP "Drive &2"
        {
          MENUITEM "&Insert...", IDM_MENU_MEDIA_DISK_D_DRIVE2_INSERT
          MENUITEM "&Eject", IDM_MENU_MEDIA_DISK_D_DRIVE2_EJECT
          MENUITEM "Eject and &write...", IDM_MENU_MEDIA_DISK_D_DRIVE2_EJECTANDWRITE
        }
      }
    }
    POPUP "&Cartridge"
    {
      POPUP "&Timex Dock"
      {
        MENUITEM "&Insert...", IDM_MENU_MEDIA_CARTRIDGE_TIMEXDOCK_INSERT
        MENUITEM "&Eject", IDM_MENU_MEDIA_CARTRIDGE_TIMEXDOCK_EJECT
      }
      POPUP "&Interface II"
      {
        MENUITEM "&Insert...", IDM_MENU_MEDIA_CARTRIDGE_INTERFACEII_INSERT
        MENUITEM "&Eject", IDM_MENU_MEDIA_CARTRIDGE_INTERFACEII_EJECT
      }
    }
    POPUP "ID&E"
    {
      POPUP "Simple &8-bit"
      {
        POPUP "&Master"
        {
          MENUITEM "&Insert...", IDM_MENU_MEDIA_IDE_SIMPLE8BIT_MASTER_INSERT
          MENUITEM "&Commit", IDM_MENU_MEDIA_IDE_SIMPLE8BIT_MASTER_COMMIT
          MENUITEM "&Eject", IDM_MENU_MEDIA_IDE_SIMPLE8BIT_MASTER_EJECT
        }
        POPUP "&Slave"
        {
          MENUITEM "&Insert...", IDM_MENU_MEDIA_IDE_SIMPLE8BIT_SLAVE_INSERT
          MENUITEM "&Commit", IDM_MENU_MEDIA_IDE_SIMPLE8BIT_SLAVE_COMMIT
          MENUITEM "&Eject", IDM_MENU_MEDIA_IDE_SIMPLE8BIT_SLAVE_EJECT
        }
      }
      POPUP "ZX&ATASP"
      {
        POPUP "&Master"
        {
          MENUITEM "&Insert...", IDM_MENU_MEDIA_IDE_ZXATASP_MASTER_INSERT
          MENUITEM "&Commit", IDM_MENU_MEDIA_IDE_ZXATASP_MASTER_COMMIT
          MENUITEM "&Eject", IDM_MENU_MEDIA_IDE_ZXATASP_MASTER_EJECT
        }
        POPUP "&Slave"
        {
          MENUITEM "&Insert...", IDM_MENU_MEDIA_IDE_ZXATASP_SLAVE_INSERT
          MENUITEM "&Commit", IDM_MENU_MEDIA_IDE_ZXATASP_SLAVE_COMMIT
          MENUITEM "&Eject", IDM_MENU_MEDIA_IDE_ZXATASP_SLAVE_EJECT
        }
      }
      POPUP "ZX&CF CompactFlash"
      {
        MENUITEM "&Insert...", IDM_MENU_MEDIA_IDE_ZXCFCOMPACTFLASH_INSERT
        MENUITEM "&Commit", IDM_MENU_MEDIA_IDE_ZXCFCOMPACTFLASH_COMMIT
        MENUITEM "&Eject", IDM_MENU_MEDIA_IDE_ZXCFCOMPACTFLASH_EJECT
      }
      POPUP "&DivIDE"
      {
        POPUP "&Master"
        {
          MENUITEM "&Insert...", IDM_MENU_MEDIA_IDE_DIVIDE_MASTER_INSERT
          MENUITEM "&Commit", IDM_MENU_MEDIA_IDE_DIVIDE_MASTER_COMMIT
          MENUITEM "&Eject", IDM_MENU_MEDIA_IDE_DIVIDE_MASTER_EJECT
        }
        POPUP "&Slave"
        {
          MENUITEM "&Insert...", IDM_MENU_MEDIA_IDE_DIVIDE_SLAVE_INSERT
          MENUITEM "&Commit", IDM_MENU_MEDIA_IDE_DIVIDE_SLAVE_COMMIT
          MENUITEM "&Eject", IDM_MENU_MEDIA_IDE_DIVIDE_SLAVE_EJECT
        }
      }
    }
  }
  POPUP "&Help"
  {
    MENUITEM "&Keyboard...", IDM_MENU_HELP_KEYBOARD
  }
}

win32_accel ACCELERATORS
{
  VK_F3,     IDM_MENU_FILE_OPEN,                     VIRTKEY
  VK_F2,     IDM_MENU_FILE_SAVESNAPSHOT,             VIRTKEY
  VK_INSERT, IDM_MENU_FILE_RECORDING_INSERTSNAPSHOT, VIRTKEY
  VK_DELETE, IDM_MENU_FILE_RECORDING_ROLLBACK,       VIRTKEY
  VK_F10,    IDM_MENU_FILE_EXIT,                     VIRTKEY
  VK_F4,     IDM_MENU_OPTIONS_GENERAL,               VIRTKEY
  VK_PAUSE,  IDM_MENU_MACHINE_PAUSE,                 VIRTKEY
  VK_F5,     IDM_MENU_MACHINE_RESET,                 VIRTKEY
  VK_F9,     IDM_MENU_MACHINE_SELECT,                VIRTKEY
  VK_F7,     IDM_MENU_MEDIA_TAPE_OPEN,               VIRTKEY
  VK_F8,     IDM_MENU_MEDIA_TAPE_PLAY,               VIRTKEY
  VK_F6,     IDM_MENU_MEDIA_TAPE_WRITE,              VIRTKEY
}
