/* res_pokefinder.rc: Win32 interface to the poke finder
   Copyright (c) 2004 Marek Januszwski

   $Id$

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License along
   with this program; if not, write to the Free Software Foundation, Inc.,
   51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

   Author contact information:

   E-mail: philip-fuse@shadowmagic.org.uk

*/

#include <windows.h>
#include "pokefinder.h"

IDD_POKEFINDER DIALOGEX DISCARDABLE 6,6,341,83
CAPTION "Fuse - Poke Finder"
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
FONT 8,"Ms Shell Dlg 2",400,0,1
BEGIN
  CTEXT "Search for:", IDC_PF_SEARCH_FOR, 20, 25, 38, 9
  CTEXT "Possible locations: 6", IDC_PF_LOCATIONS, 232/*250*/, 5, 84, 9

  PUSHBUTTON "&Incremented", IDC_PF_INC, 4, 64, 60, 15
  PUSHBUTTON "&Decremented", IDC_PF_DEC, 72, 64, 60, 15
  DEFPUSHBUTTON "&Search", IDC_PF_SEARCH, 140, 64, 60, 15
  PUSHBUTTON "&Reset", IDC_PF_RESET, 208, 64, 60, 15
  PUSHBUTTON "&Close", IDCLOSE, 276, 64, 60, 15

  EDITTEXT IDC_PF_EDIT, 70, 24, 80, 12, 
    WS_CHILD | WS_VISIBLE, WS_EX_CLIENTEDGE

  CONTROL "",IDC_PF_LIST,"SysListView32", 
    WS_CHILD | WS_VISIBLE | LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS ,
    170, 20, 165, 39, WS_EX_CLIENTEDGE
END

