/* win32ui.rc: resource file for win32 interface
   Copyright (c) 2004 Marek Januszewski

   $Id$

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA

   Author contact information:

   E-mail: philip-fuse@shadowmagic.org.uk

*/

win32bmp_disk_active    BITMAP "ui/win32/icons/disk_active.bmp"
win32bmp_disk_inactive  BITMAP "ui/win32/icons/disk_inactive.bmp"
win32bmp_pause_active   BITMAP "ui/win32/icons/pause_active.bmp"
win32bmp_pause_inactive BITMAP "ui/win32/icons/pause_inactive.bmp"
win32bmp_tape_active    BITMAP "ui/win32/icons/tape_active.bmp"
win32bmp_tape_inactive  BITMAP "ui/win32/icons/tape_inactive.bmp"
win32bmp_tape_marker    BITMAP "ui/win32/icons/tape_marker.bmp"

