<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dck</string>
				<string>DCK</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>dck</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Cartridge Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.dck</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hdf</string>
				<string>HDF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hdf</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Hard Disk File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.hdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dsk</string>
				<string>DSK</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>dsk</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.dsk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rzx</string>
				<string>RZX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rzx</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Recording</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.rzx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scl</string>
				<string>SCL</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>scl</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.scl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scr</string>
				<string>SCR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>scr</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-spectrum-scr</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Screen Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.scr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>slt</string>
				<string>SLT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>slt</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Snapshot</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.slt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sna</string>
				<string>SNA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sna</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Snapshot</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.sna</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sp</string>
				<string>SP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sp</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Snapshot</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.sp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>szx</string>
				<string>SZX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>szx</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-spectrum-szx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Snapshot</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.szx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>snp</string>
				<string>SNP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>snp</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Snapshot</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.snp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>csw</string>
				<string>CSW</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>csw</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Tape Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.csw</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
				<string>WAV</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>blank</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Tape Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.wav</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>raw</string>
				<string>RAW</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>raw</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Tape Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.raw</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tap</string>
				<string>TAP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tap</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Tape Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.tap</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>trd</string>
				<string>TRD</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>trd</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.trd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pzx</string>
				<string>PZX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>blank</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Tape Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.pzx</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tzx</string>
				<string>TZX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tzx</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Tape Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.tzx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spc</string>
				<string>SPC</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>blank</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Tape Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.spc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sta</string>
				<string>STA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>blank</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Tape Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.sta</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ltp</string>
				<string>LTP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>blank</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Tape Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.ltp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>z80</string>
				<string>Z80</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>z80</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Snapshot</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.z80</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mdr</string>
				<string>MDR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mdr</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Microdrive Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.mdr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zxs</string>
				<string>ZXS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zxs</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Snapshot</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.zxs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mgtsnp</string>
				<string>MGTSNP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>blank</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Snapshot</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.mgtsnp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>img</string>
				<string>IMG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>blank</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.img</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mgt</string>
				<string>MGT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>blank</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.mgt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>opd</string>
				<string>OPD</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>blank</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.opd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>opu</string>
				<string>OPU</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>blank</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.opu</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pok</string>
				<string>POK</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>blank</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Poke File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.pok</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>d40</string>
				<string>D40</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>blank</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.d80</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>d80</string>
				<string>D80</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>blank</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.d80</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Fuse</string>
	<key>CFBundleGetInfoString</key>
	<string>Free Unix Spectrum Emulator</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Fuse Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Fuse Help</string>
	<key>CFBundleIconFile</key>
	<string>Fuse</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Fuse</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleSignature</key>
	<string>FUSE</string>
	<key>CFBundleVersion</key>
	<string>1.3.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum Cartridge Image</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.Cartridge</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum Snapshot</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.Snapshot</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum Tape Image</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.Tape</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum Mass Storage Image</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.MassStorage</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.Cartridge</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Timex Sinclair Cartridge Image</string>
			<key>UTTypeIconFile</key>
			<string>dck</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.dck</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.worldofspectrum.org/warajevo/Fformats.html#dck</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dck</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.MassStorage</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum Hard Disk File</string>
			<key>UTTypeIconFile</key>
			<string>hdf</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.hdf</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.ramsoft.bbk.org/tech/rs-hdf.txt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hdf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.MassStorage</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum +3 Disk Image</string>
			<key>UTTypeIconFile</key>
			<string>dsk</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.dsk</string>
			<key>UTTypeReferenceURL</key>
			<string>http://andercheran.aiind.upv.es/~amstrad/docs/extdsk.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dsk</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.MassStorage</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum DISCiPLE/+D Disk Image</string>
			<key>UTTypeIconFile</key>
			<string>blank</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.mgt</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.worldofspectrum.org/faq/reference/formats.htm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mgt</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audiovisual-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum Recording</string>
			<key>UTTypeIconFile</key>
			<string>rzx</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.rzx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.ramsoft.bbk.org/rzx.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rzx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.MassStorage</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum TR-DOS Disk Image</string>
			<key>UTTypeIconFile</key>
			<string>scl</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.scl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>scl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum Screen Image</string>
			<key>UTTypeIconFile</key>
			<string>scr</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.scr</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.sinclairfaq.com/reference/formats.htm#Miscellaneous</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>scr</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.Snapshot</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum Multi Level Snapshot</string>
			<key>UTTypeIconFile</key>
			<string>slt</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.slt</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.sinclairfaq.com/reference/formats.htm#File</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>slt</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.Snapshot</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum SNA Snapshot</string>
			<key>UTTypeIconFile</key>
			<string>sna</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.sna</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.sinclairfaq.com/reference/formats.htm#File</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sna</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.Snapshot</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum SP Snapshot</string>
			<key>UTTypeIconFile</key>
			<string>sp</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.sp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.Snapshot</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum SZX Snapshot</string>
			<key>UTTypeIconFile</key>
			<string>szx</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.szx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.spectaculator.com/docs/zx-state/intro.shtml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>szx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.Snapshot</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum SNP Snapshot</string>
			<key>UTTypeIconFile</key>
			<string>snp</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.snp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>snp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.Tape</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum TAP Tape Image</string>
			<key>UTTypeIconFile</key>
			<string>tap</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.tap</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.sinclairfaq.com/reference/formats.htm#Tape</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tap</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.MassStorage</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum TR-DOS Disk Image</string>
			<key>UTTypeIconFile</key>
			<string>trd</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.trd</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.worldofspectrum.org/trdos.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>trd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.Tape</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum TZX Tape Image</string>
			<key>UTTypeIconFile</key>
			<string>tzx</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.tzx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.worldofspectrum.org/TZXformat.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tzx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.Snapshot</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum Z80 Snapshot</string>
			<key>UTTypeIconFile</key>
			<string>z80</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.z80</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.sinclairfaq.com/reference/z80format.htm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>z80</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.Snapshot</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum ZXS Snapshot</string>
			<key>UTTypeIconFile</key>
			<string>zxs</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.zxs</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zxs</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.MassStorage</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum Microdrive Cartridge Image</string>
			<key>UTTypeIconFile</key>
			<string>mdr</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.mdr</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.worldofspectrum.org/faq/reference/formats.htm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mdr</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.MassStorage</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum DISCiPLE/+D Disk Image</string>
			<key>UTTypeIconFile</key>
			<string>blank</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.img</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.worldofspectrum.org/faq/reference/formats.htm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>img</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.Tape</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum RAW Tape Image</string>
			<key>UTTypeIconFile</key>
			<string>raw</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.raw</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>raw</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.MassStorage</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum Opus Discovery Disk Image</string>
			<key>UTTypeIconFile</key>
			<string>blank</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.opd</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.worldofspectrum.org/faq/reference/formats.htm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>opd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.MassStorage</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZX Spectrum Opus Discovery Disk Image</string>
			<key>UTTypeIconFile</key>
			<string>blank</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.projects.fuse-emulator.opu</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.worldofspectrum.org/faq/reference/formats.htm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>opu</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
