[submodule "3rdparty/audiofile"]
	path = 3rdparty/audiofile
	url = ../fuse-audiofile
[submodule "3rdparty/libgcrypt"]
	path = 3rdparty/libgcrypt
	url = ../fuse-libgcrypt
[submodule "3rdparty/FuseGenerator"]
	path = 3rdparty/FuseGenerator
	url = ../fuse-generator
[submodule "3rdparty/FuseImporter"]
	path = 3rdparty/FuseImporter
	url = ../fuse-importer
[submodule "3rdparty/libspectrum"]
	path = 3rdparty/libspectrum
	url = ../libspectrum
[submodule "3rdparty/mbedtls"]
	path = 3rdparty/mbedtls
	url = ../fuse-mbedtls
