/*.tap
/*.tzx
/*.z80
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/fuse
/install-sh
/keysyms.c
/missing
/mkinstalldirs
/stamp-h
/stamp-h1
/stamp-h.in
