/.deps
/.gdb_history
/.libs
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/cscope.out
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/fuse
/fuse.exe
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/settings.c
/settings.h
/stamp-h
/stamp-h.in
/stamp-h1
/ylwrap
