/.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/fuse
/install-sh
/libtool
/missing
/mkinstalldirs
/settings.c
/settings.h
/stamp-h
/stamp-h.in
