/* windres.rc: resources for Windows
   Copyright (c) 2007 Stuart Brady

   $Id$

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License along
   with this program; if not, write to the Free Software Foundation, Inc.,
   51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

   Author contact information:

   E-mail: philip-fuse@shadowmagic.org.uk

*/

#include "config.h"

win32_icon ICON "winfuse.ico"

#ifdef UI_WIN32

#include "ui/win32/debugger.rc"
#include "ui/win32/menu_data.rc"
#include "ui/win32/options.rc"
#include "ui/win32/picture.rc"
#include "ui/win32/pokefinder.rc"
#include "ui/win32/win32ui.rc"
#include "ui/win32/machine_select.rc"

#endif
